mixin advantages()
  section.advantages(style="background-image: url(assets/img/advantages.jpg)")
    .container.advantages__container
      h2.advantages__heading
        | Преимущества Видеонаблюдения #[br]
        | «Безопасный двор»
      ul.advantages__list
        li.advantages__item
          img(src="assets/img/icon1.png" class="advantages__item-icon")
          .advantages__item-wrap
            h5.advantages__item-heading
              | Контроль
            p
              | Круглосуточное видеонаблюдение на детской площадке, парковке и всей территории двора
        li.advantages__item
          img(src="assets/img/icon3.png" class="advantages__item-icon")
          .advantages__item-wrap
            h5.advantages__item-heading
              | Безопасность
            p
              | Запись видео в облачный архив, что позволяет увеличить уровень безопасности хранения данных
        li.advantages__item
          img(src="assets/img/icon2.png" class="advantages__item-icon")
          .advantages__item-wrap
            h5.advantages__item-heading
              | Удобство
            p
              | Возможность просматривать видео через мобильное приложение из лябой точки мира
        li.advantages__item
          img(src="assets/img/icon4.png" class="advantages__item-icon")
          .advantages__item-wrap
            h5.advantages__item-heading
              | Архив
            p
              | Возможность скачивать видеозаписи за последние
              | 7 дней