mixin rational-use()
  section.rational-use(style="background-image: url(assets/img/rational-use-bg.png)")
    .container.rational-use__container
      .safe-yard__box
        h2.safe-yard__box-heading
          | Рациональное размещение камер
        .rational-use__row
          .rational-use__mini-box
            img.rational-use__mini-box-icon(src="assets/img/mini-icon-box.png")
            span.rational-use__mini-box-text
              | детская площадка
          .rational-use__mini-box
            img.rational-use__mini-box-icon(src="assets/img/mini-icon-box1.png")
            span.rational-use__mini-box-text
              | въезд во двор

          .rational-use__text
            span
              | 2 камеры на 1 подъезд: #[br]
            | входная зона в подъезд и лифт


        .rational-use__row
          .rational-use__mini-box
            img.rational-use__mini-box-icon(src="assets/img/mini-icon-box2.png")
            span.rational-use__mini-box-text
              | площадка ТБО
          .rational-use__mini-box
            img.rational-use__mini-box-icon(src="assets/img/mini-icon-box3.png")
            span.rational-use__mini-box-text
              | входная зона
              | в подъезд и лифты

          .rational-use__text
            span
              | +4 камеры на дом #[br]
            | для охвата территории


      .safe-yard__box.safe-yard__box--mobile
        h2.safe-yard__box-heading
          | Рациональное размещение камер

        .rational-use__text
          span
            | 2 камеры на 1 подъезд: #[br]
          | входная зона в подъезд и лифт

        .rational-use__text
          span
            | +4 камеры на дом #[br]
          | для охвата территории

        ul.safe-yard__box-list
          li.safe-yard__box-item
            img.safe-yard__box-icon(src="assets/img/mini-icon-box-mob.png")
            span.safe-yard__box-text
              | детская площадка
          li.safe-yard__box-item
            img.safe-yard__box-icon(src="assets/img/mini-icon-box-mob1.png")
            span.safe-yard__box-text
              | въезд во двор
          li.safe-yard__box-item
            img.safe-yard__box-icon(src="assets/img/mini-icon-box-mob2.png")
            span.safe-yard__box-text
              | площадка ТБО
          li.safe-yard__box-item
            img.safe-yard__box-icon(src="assets/img/mini-icon-box-mob3.png")
            span.safe-yard__box-text
              | входная зона
              | в подъезд и лифты