mixin safe-yard()
  section.safe-yard
    .container
      h2.safe-yard__heading
        | Реализация решения по видеонаблюдению “Безопасный двор” от Летай позволит оперативно:
      .safe-yard__wrap
        img.safe-yard__img(src="assets/img/safe-yard.png")
        ul.safe-yard__list
          li.safe-yard__item
            img.safe-yard__item-icon(src="assets/img/safe-yard-icon1.png")
            span.safe-yard__text
              | «По горячим следам» установить
              | виновника правонарушения
          li.safe-yard__item
            img.safe-yard__item-icon(src="assets/img/safe-yard-icon2.png")
            span.safe-yard__text
              | Повысить сознательность собственников квартир и квартиросъемщиков
          li.safe-yard__item
            img.safe-yard__item-icon(src="assets/img/safe-yard-icon3.png")
            span.safe-yard__text
              | Решать задачи участкового уполномоченного полиции
          li.safe-yard__item
            img.safe-yard__item-icon(src="assets/img/safe-yard-icon4.png")
            span.safe-yard__text
              | Разрешать гражданские споры жильцов

      .safe-yard__box
        h2.safe-yard__box-heading
          | В услугу включено:
        ul.safe-yard__box-list
          li.safe-yard__box-item
            img.safe-yard__box-icon(src="assets/img/icon1.png")
            span.safe-yard__box-text
              | Монтаж, настройка и обслуживание системы видеонаблюдения
          li.safe-yard__box-item
            img.safe-yard__box-icon(src="assets/img/icon3.png")
            span.safe-yard__box-text
              | Камеры и облачное хранение
          li.safe-yard__box-item
            img.safe-yard__box-icon(src="assets/img/icon4.png")
            span.safe-yard__box-text
              | Запись архива 7 дней

        button.button.safe-yard__box-btn(data-path="modal-application")
          | Рассчитать тариф