mixin video-scheme-list()
  section.video-scheme-list
    .container.video-scheme-list__container
      .video-scheme-list__row
        .video-scheme-list__item
          img.video-scheme-list__img(src="assets/img/vid-img.png")
          .video-scheme-list__item-wrap
            h4.video-scheme-list__label
              | Уличная камера
            ul.video-scheme-list__list
              li.video-scheme-list__small-item 400 ...+500 C
              li.video-scheme-list__small-item 4 Мп (2560х1440)
              li.video-scheme-list__small-item Скорость 25 Fps
              li.video-scheme-list__small-item Режим “день/ночь”
              li.video-scheme-list__small-item ИК - подсветка до 30 м

        .video-scheme-list__item
          img.video-scheme-list__img(src="assets/img/vid-img1.png")
          .video-scheme-list__item-wrap
            h4.video-scheme-list__label
              | Уличная камера
            ul.video-scheme-list__list
              li.video-scheme-list__small-item 400 ...+500 C
              li.video-scheme-list__small-item 4 Мп (2560х1440)
              li.video-scheme-list__small-item Скорость 25 Fps
              li.video-scheme-list__small-item Режим “день/ночь”
              li.video-scheme-list__small-item ИК - подсветка до 30 м

