mixin video-scheme()
  section.video-scheme(style="background-image: url(assets/img/video-scheme-bg.png)")
    .container.video-scheme__container
      h2.video-scheme__heading
        | Схема организации видеонаблюдения
      img.video-scheme__img(src="assets/img/video-scheme-img.png")
      img.video-scheme__img.video-scheme__img---mobile(src="assets/img/video-scheme-img-mobil.png")
      ul.video-scheme__list
        li.video-scheme__item
          span
            | Есть домашний интернет Летай: #[br]
          p
            | доступ к камере через мобильное приложение Летай 2.0
        li.video-scheme__item
          span
            | Нет домашнего интернета Летай: #[br]
          p
            | в офисе продаж можно получить учетную запись для установки мобильного приложения