Options -Indexes
ErrorDocument 404 /404.php
<IfModule mod_php5.c>
	php_flag allow_call_time_pass_reference 1
	php_flag session.use_trans_sid off

	#php_value display_errors 1

	#php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On

    # 301 --- https://tattelecom.ru/payment/call_script_lk?plan_id=null&accountid2=102152373&prv_id=2&account=9586201943&client_email=gilyazov.aydar%40gmail.com&sum=10&button= => https://oldsite.tattelecom.ru/payment/call_script_lk?plan_id=null&accountid2=102152373&prv_id=2&account=9586201943&client_email=gilyazov.aydar%40gmail.com&sum=10&button=
    RewriteCond %{REQUEST_URI}  ^\/payment/call_script_lk$
    RewriteRule ^(.*)$ https://oldsite.tattelecom.ru/payment/call_script_lk%1 [R=301,L]
    # костыль для оплаты лк ттк

    # редирект без слеша
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} ^(.*/[^/\.]+)$
    RewriteCond %{REQUEST_URI} !^/.well-known/
    RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1/ [R=301,L]
    # end

    # зеркала
    RewriteCond %{HTTP_HOST} ^www.letai.ru [NC]
    RewriteRule ^(.*)$ https://letai.ru/$1 [R=301,L]
    #перенаправляем tattelecom.ru
    RewriteCond %{HTTP_HOST} tattelecom.ru
    RewriteRule (.*) https://letai.ru/$1 [R=301,L]
    #перенаправляем mnogo.letai.ru
    #RewriteCond %{HTTP_HOST} mnogo.letai.ru
    #RewriteRule (.*) https://tattelecom.ru/$1 [R=301,L]
    # end

    # index.php
    RewriteCond %{REQUEST_URI} ^(.*)/index\.php$
    RewriteCond %{REQUEST_METHOD} =GET
    RewriteRule ^(.*)$ %1/ [R=301,L]

    # множественные ///
    RewriteCond %{THE_REQUEST} //
    RewriteCond %{QUERY_STRING} !http(s|)://
    RewriteRule .* /$0 [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
	RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
	DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/jpeg "access plus 3 day"
	ExpiresByType image/gif "access plus 3 day"
</IfModule>

Redirect 301 /stocks/konvergent_2023/ /all-at-once-2024/
Redirect 301 /app/ /applications/
Redirect 301 /all-at-once-2024/ /internet/rates/
Redirect 301 /payment-methods/ /payment/
Redirect 301 /tv/rates/televidenie/ultra-tv/ /televidenie/letai-tv/
Redirect 301 /tv/rates/pakety-kanalov/match-premer/ /televidenie/letai-tv/
Redirect 301 /mobile/switch/ /stocks/mobile-test-drive/
Redirect 301 /tv/rates/televidenie/bazovyy-iptv/ /tv/rates/televidenie/hd-bazovyy/
Redirect 301 /arkhiv/mobile-app_tpne/ https://redirect.appmetrica.yandex.com/serve/822191862776382254