.b-services-links__grid-item .b-services-links__grid-link{
    background-image: url('/local/js/template/tattelecom/img/b-mobile-communication/blue-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}