.video-scheme {
  padding: 5rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;


  @media only screen and (max-width: (992px)) {
  background-image: url("../assets/img/video-scheme-bg2.jpg") !important;
}

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 9rem;
    transform: translateX(8rem);

    @media only screen and (max-width: (992px)) {
      transform: translateX(0);
      display: none;
    }

    &---mobile {
      display: none;

      @media only screen and (max-width: (992px)) {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    font: 700 4.8rem/1 var(--font-family);

    @media only screen and (max-width: (992px)) {
      font: 700 3.2rem/1 var(--font-family);
      text-align: center;
    }
  }

  &__item {
    font: 500 3.2rem/1 var(--font-family);
    margin-bottom: 3rem;

    @media only screen and (max-width: (992px)) {
      font: 500 2.4rem/1 var(--font-family);
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      display: inline-block;
      padding: 1rem;
      background: #fff;
      border-radius: 2.4rem;
      color: #F94E00;
    }
  }
}