.burger-modal.js-burger-modal
  .burger-modal__container
    button.burger-modal__close.js-burger-button
      include ../../assets/icons/cross-black.svg
    .burger-modal__links
      a.button.burger-modal__button(href='/#' data-num='')
        span.button-wrapper-text
          span.burger-modal__button-text(data-text='Services') Для кого
      a.button.burger-modal__button(href='/#' data-num='')
        span.button-wrapper-text
          span.burger-modal__button-text(data-text='Solutions') Треки
      a.button.burger-modal__button(href='/#' data-num='')
        span.button-wrapper-text
          span.burger-modal__button-text(data-text='About us') Таймлайн
      a.button.burger-modal__button(href='/#' data-num='')
        span.button-wrapper-text
          span.burger-modal__button-text(data-text='Contacts') Локация
      a.button.burger-modal__button(href='/#' data-num='')
        span.button-wrapper-text
          span.burger-modal__button-text(data-text='Contacts') О нас

