footer.footer
  .container
    ul.footer__columns
      li.footer__column
        .footer__column-title Летай
        ul.footer__column-list
          li.footer__column-list-item
            a.footer__column-list-link(href="#") О компании
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Пресс-центр
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Работа в компани
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Акционерам и инвесторам
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Структурные подразделения
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Контактная информация
      li.footer__column
        .footer__column-title Частным клиентам
        ul.footer__column-list
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Мобильная связь
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Интернет
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Телевидение
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Телефония
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Домофония
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Телеграф
      li.footer__column
        .footer__column-title Бизнесу
        ul.footer__column-list
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Решения для бизнеса
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Мобильная связь
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Интернет в офис
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Телефония
      li.footer__column
        .footer__column-title Партнерам
        ul.footer__column-list
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Поставщикам
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Операторам связи
          li.footer__column-list-item
            a.footer__column-list-link(href="#") Дилерам