header.header
  .header-container
    .header__content
      a(href="/#").header__logo-wrapper
        include ../../assets/icons/header-logo3.svg
      .header__right-column
        nav.header__navigation
          a(href="#tariffs").header__link Для кого
          a(href="#").header__link Треки
          a(href="#").header__link Таймлайн
          a(href="#").header__link Локация
          a(href="#").header__link О нас

        a(href="#form").button.header__button-contact Регистрация
      button.header__burger-btn.js-burger-button
        span
        span
        span
