@font-face {
  font-family: "PT Root UI";
  src: url("../assets/fonts/PTRootUIRegular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../assets/fonts/PTRootUIBold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}