@mixin overlayWidth {
  width: calc(100% - var(--content-padding));
  max-width: 1885px;

  left: 50%;
  transform: translateX(-50%);

  @include breakpoint(laptop) {
    width: calc(100% - var(--content-padding-two));
  }
}

@mixin breakpoint($class) {
  @if $class == large-desktop {
      @media only screen and (max-width: (1600px)) {
          @content;
      }
  } @else if $class == desktop {
      @media only screen and (max-width: (1400px)) {
          @content;
      }
  } @else if $class == laptop {
      @media only screen and (max-width: (1200px)) {
          @content;
      }
  } @else if $class == tablet {
      @media only screen and (max-width: (1024px)) {
          @content;
      }
  } @else if $class == small-tablet {
      @media only screen and (max-width: (768px)) {
          @content;
      }
  } @else if $class == mobile {
      @media only screen and (max-width: (640px)) {
          @content;
      }
  } @else if $class == small-mobile {
      @media only screen and (max-width: (576px)) {
          @content;
      }
  } @else if $class == supersmall-mobile {
      @media only screen and (max-width: (370px)) {
          @content;
      }
  }
}

@mixin breakpointMF($class) {
  @if $class == super-large {
      @media only screen and (min-width: 1921px) {
          @content;
      }
  }
  @else if $class == large-desktop {
      @media only screen and (min-width: 1401px) {
          @content;
      }
  } @else if $class == desktop {
      @media only screen and (min-width: 1201px) {
          @content;
      }
  } @else if $class == laptop {
      @media only screen and (min-width: 1025px) {
          @content;
      }
  } @else if $class == tablet {
      @media only screen and (min-width: 769px) {
          @content;
      }
  } @else if $class == small-tablet {
      @media only screen and (min-width: 641px) {
          @content;
      }
  } @else if $class == mobile {
      @media only screen and (min-width: 577px) {
          @content;
      }
  }
}

@mixin container-mixin($indent) {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  @supports (width: max(20vw, 100px)) {
    padding-right: max(env(safe-area-inset-right, 1.4rem), $indent);
    padding-left: max(env(safe-area-inset-left, 1.4rem), $indent);

    @include breakpoint(tablet) {
      padding-right: max(env(safe-area-inset-right, 1.4rem), $indent);
      padding-left: max(env(safe-area-inset-left, 1.4rem), $indent);
    }
  }
}