.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.swiper-slide {
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
}

.page-content {
  overflow: hidden;
}

.no-scroll {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  body {
    height: auto;
    overflow: hidden;
  }
}