.js-swiper-custom .gl-slider__slider-btn{
    border-radius: 25px;
    opacity: .7;
}
.js-swiper-custom .gl-slider__slider-btn:hover{
    opacity: 1;
}
.js-swiper-custom .gl-slider__slider-btn{
    z-index: 999;
    left: auto;
    top: 85%;
}
.js-swiper-custom .gl-slider__slider-btn.mod-prev{
    right: 13.5rem;
    left: auto;
}
.js-swiper-custom .gl-slider__slider-btn.mod-next {
    right: 8rem;
}
