.tatt-head__item-link{
    position: absolute;
    width: 100%;
    height: 100%;
}
.tatt-head__item-img {
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s,-webkit-transform .4s;
}
.tatt-head__item:hover .tatt-head__item-img{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}